@model BusinessVenture.Models.ProductOrService

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>


<div>
    <h4>Product Or Service</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Business)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Business.Title)
        </dd>
        <dt class="col-sm-2">
            Product/Service
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NameOfProductOrService)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
